# Git
.git
.gitignore

# IDE
.idea
.vscode

# Build artifacts
*.exe
*.exe~
*.dll
*.so
*.dylib
*.test
*.out

# Dependencies
vendor/

# Logs
*.log

# Environment
.env
.env.*

# Docker
Dockerfile
docker-compose.yml
.dockerignore

# Other
README.md
LICENSE
*.md 